.container {
  background-color: #4a90e2;
  max-width: 1024px;
  min-width: 200px;
  padding: 0px 20px 15px;
  width: 100%;
  padding-top: 2px;

  &.sm,
  &.xs {
    .primaryText {
      margin-top: 8px;
      line-height: 24px;
      font-size: 18px;
    }
  }
}

.primaryText {
  color: #ffffff;
  line-height: 33px;
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 600;
}

.secondaryText {
  color: #ffffff;
  line-height: 14px;
  font-size: 10px;
  font-weight: 600;
}

.submitButton {
  background-color: #f5a623;
  border-radius: 2px;
  text-transform: uppercase;
  height: 40px;
  min-height: 40px;
  letter-spacing: 1.11px;
  line-height: 40px;
  width: 100%;
  font-size: 20px;
  border: 0;
  padding: 0;
  color: #ffffff;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;

  &:active {
    box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    padding-top: 1px;
  }
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &.md {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'secondary-text secondary-text secondary-text'
      'input1 input2 button';

    .secondaryText {
      grid-area: secondary-text;
      margin-bottom: -5px;
    }

    .submitButton {
      margin-left: 8px;
      width: 96%;
    }
  }
  &.sm {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'secondary-text secondary-text'
      'input1 input2'
      'button button';
    .secondaryText {
      margin-bottom: -5px;
    }
  }
  &.xs {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
      'input1'
      'input2'
      'button'
      'secondary-text';
  }

  &.sm,
  &.xs {
    .secondaryText {
      grid-area: secondary-text;
    }

    .submitButton {
      grid-area: button;
    }
  }
}
