div,
span,
p,
label,
input,
*::before,
*::after,
& {
  float: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  background-color: transparent;
  box-shadow: none;
  vertical-align: baseline;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  text-shadow: none;
  white-space: normal;
  letter-spacing: 0;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1;
  position: initial;
}
